@font-face {
    font-family: "Terminal";
    src: url(fonts/terminal-grotesque_open.otf) 
    format(OpenType);
}

@font-face {
    font-family: "Jogan";
    src: url(fonts/JoganSoft.otf);
}

@font-face {
    font-family: "Madou";
    src: url(fonts/MadouFutoMaruGothic.ttf);
}
body {
    font-family: "Jogan";
    background-color: #FFF8D2;
}

h1 {
    font-family: "Madou";
    font-size:large;
}

button {
    font-family: "Madou Futo Maru";
    font-size: large;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.2rem;
}

#draggable {
    position: absolute;
    cursor: grab; 
    z-index: 1;
}

.container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 100%;
    justify-content: space-around;
    margin: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.container > * {
    background-color: #FEFDE3;
    border: solid black;
    border-width: 2px;
    box-shadow: 2px 2px black;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

#header {
    width: 100%;
}

#upcoming {
    min-width: 30%;
}

#listen {
    flex-grow: 1;
}

#about {
    background-color: #FFF8D2;
    border: none;
    border-width: 2px;
    box-shadow: none;
    display: flex;
    flex-grow: 1;
    margin: 0.2rem;
    width: 100%;
}

#about .card-header {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
    flex-grow: 1;
}

#tooth {
    max-width: 40%;
    display: flex;
    align-items: center;
    min-width: 30%
}

#links {
    display: flex;
    flex-grow: 1;
    max-height: min-content;
    background-image: url(clouds.gif);
    background-repeat: round;
}

#links > * {
    flex-grow: 1;
}

#foot {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
    border: none;
    box-shadow: none;
    background-color: #FFF8D2;
}

#foot > * {
    max-width: 100%;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem;
    flex-grow: 0;
}

.card-header > * {
    margin: 0.5rem;
}

.card-header-centered {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem;
    flex-grow: 0;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-footer {
    display: block;
    text-align: center;
    margin: auto;
    max-height: 100%;
    padding: 0.5rem;
    max-width: 50%;
}

.card-footer > * {
    margin: 0.5rem;
}

/* .upcoming-dates {
    display: flex;
    justify-content: center;
    min-width: 30%;
}

table.upcoming-dates {
    width: 100%;
    text-align: left;
    margin: .5rem;
    margin-bottom: 1rem;

  }
  table.upcoming-dates td, table.upcoming-dates th {
    border: 0px solid #AAAAAA;
    padding: 5px 5px;
  }
  table.upcoming-dates tfoot td {
    font-size: 14px;
  }
  table.upcoming-dates tfoot .links {
    text-align: right;
  }
  table.upcoming-dates tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  } */

.album {
    justify-content: center;
    text-align: center;
}

.album img {
    max-width: 100px;
}

.album p {
    width: 100px;
    text-wrap: wrap;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 850px;
    width: 90%;
    margin: auto;
    position: relative;
}

.about img {
    max-width: 100%;
}

.blurb {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.photo-credit {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

/*.merch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}*/

.tooth-cam {
    display: flex;
    max-width: 90%;
    margin: 0.5rem;
    justify-content: center;
}

.tooth-cam img {
    max-width: 100%;
}

.buttons {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    min-width: fit-content;
}

.buttons > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-width: fit-content;
}

#links img {
    display: flex;
    max-width: 100%;
}

.foot {
    display: block;
    border: none;
    box-shadow: none;
    background-color: #FFF8D2;
}

.floating-image {
    display: flex;
    width: 100%;
    align-items: flex-end;
    border: none;
    box-shadow: none;
    background-color: #FFF8D2;
    z-index: 1;
}

/*RESPONSIVE VIEWING ON MOBILE*/

@media only screen and (max-width:768px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    /* .hidden-mobile {
        display: none;
    } */

    #tooth {
        max-width: 100%;
    }

    .tooth-cam img {
        margin: 1rem;
    }


}
